body {
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}
h1 {
  font-family: "Myriad Pro Regular", "Arial", sans-serif;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: bolder;
}
h2 {
  font-family: "Myriad Pro Regular", "Arial", sans-serif;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: bold;
}
.page-index .main-header {
  min-height: 544px;
  margin-bottom: 80px;
}
.page-index .container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  min-height: 70px;
}
.page-index .main-navigation {
  min-height: 70px;
  width: 960px;
  float: left;
}
.page-index .user-block{
  min-height: 70px;
  width: 160px;
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.page-index .products {
  width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.page-index .product {
  width: 300px;
  float: left;
  margin-right: 100px;
}
.page-index .product:nth-child(3) {
  margin-right: 0;
}
.page-index .features {
  width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.page-index .desc{
  width: 660px;
  float: left;
}
.page-index .desc-logo {
  width: 360px;
  float: right;
}
.page-index .partners {
  width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.page-index .partners {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.page-index .partner {
  float: left;
  height: 180px;
  width: 260px;
  margin-right: 40px;
}
.page-index .partner:last-child {
  margin-right: 0;
}
.page-index .map {
  min-height: 416px;
}
.page-index .contacts {
  width: 1160px;
  margin: 0 auto;
}
.page-index .content-left{
  width: 320px
  float: left;
}
.page-index .content-right{
  width: 200px;
  float: right;
}
.page-catalog .container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
.page-catalog .nav {
  width: 960px;
  float: left;
}
.page-catalog .user-block {
  width: 160px;
  float: right;
}
.page-catalog .title {
  align: center;
}







/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}
.main-header::before {
  content: ".main-header";
}
.container::before {
  content: ".container";
}
.main-header .container::before {
  top: auto;
  bottom: -28px;
}
